---
import Layout from "../layouts/Layout.astro";
import f1 from '~/static/2024/f1.json';
// import RaceList from '~/components/RaceList.svelte'
import RaceList from "~/components/RaceList.astro";

// const myFavouriteCities = [
//   { 
//     name: "london",
//     country: "england"
//   },
//   {
//     name: "barcelona",
//     country: "spain"
//   }
// ]
---

<Layout title="Lijst motorraces in 2024">
  <!-- <fieldset>
    <legend>Language preferences:</legend>
    <label>
      <input type="checkbox" name="english" checked />
      English
    </label>
    <label>
      <input type="checkbox" name="french" checked />
      French
    </label>
    <label>
      <input type="checkbox" name="mandarin" />
      Mandarin
    </label>
    <label>
      <input type="checkbox" name="thai" />
      Thai
    </label>
    <label aria-disabled="true">
      <input type="checkbox" name="dothraki" disabled />
      Dothraki
    </label>
  </fieldset> -->

  <!-- <pre>{JSON.stringify(f1, null, 2)}</pre> -->
  <!-- <RaceList races={f1} /> -->
  <RaceList races={f1}/>
</Layout>
