---
import { Icon } from 'astro-icon/components';
import { languages, type Language } from '~/i18n/ui';

const params = Astro.params;
const currentLanguage = params.lang as Language;

const pathname = new URL(Astro.url).pathname;
---

<details class="dropdown">
  <summary>
    <Icon name={languages[currentLanguage].flagIconName} size={24} />
  </summary>
  <ul dir="rtl">
    {
      Object.entries(languages).map(([lang, { label, flagIconName }]) => (
        <li>
          <a class="language-link" href={pathname.replace(currentLanguage, lang)}>
            <Icon name={flagIconName} size={32} />
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</details>

<style scoped lang="postcss">
summary {
  background: transparent !important;
  border: none !important;

  &:focus {
    box-shadow: none !important;
  }

  &::after {
    display: none !important;
  }
}

.language-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
}

</style>
