---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<nav>
  <ul>
    <li><strong>Racekalender 2024</strong></li>
    <!-- <li><a href="/">Lijst</a></li>
    <li><a href="/calendar">Kalender</a></li> -->
  </ul>
  <ul>
    <ThemeSwitcher />
  </ul>
</nav>
