---
import { Icon } from 'astro-icon/components';
---

<script>
  type Theme = 'dark' | 'light';
  const STORAGE_KEY = 'THEME';

  let storedTheme = (localStorage.getItem(STORAGE_KEY) as Theme) ?? 'dark';
  changeTheme(storedTheme);

  const checkbox = document.querySelector('#theme-toggle-state') as HTMLInputElement | undefined;
  if (checkbox) {
    checkbox.checked = storedTheme === 'dark';

    checkbox.addEventListener('change', (event) => {
      const isChecked = (event.target as HTMLInputElement).checked;
      changeTheme(isChecked ? 'dark' : 'light');
    });
  }

  function changeTheme(theme: Theme) {
    localStorage.setItem(STORAGE_KEY, theme);
    document.documentElement.setAttribute('data-theme', theme);
  }
</script>

<label class="theme-toggle" title="Toggle theme">
  <input id="theme-toggle-state" type="checkbox" />
  <span class="theme-toggle-sr">Toggle theme</span>

  <Icon is:inline class="dark-only" name="material-symbols:dark-mode" size={24} />
  <Icon is:inline class="light-only" name="material-symbols:light-mode" size={24} />
</label>

<style scoped>
  .theme-toggle {
    border: none;
    background: 0 0;
    cursor: pointer;
    display: flex;
    margin: 0 0.5em 0 0;
  }

  #theme-toggle-state {
    display: none;
  }
  
  .theme-toggle-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }


  .theme-toggle svg {
    display: none;
  }

  :root[data-theme='dark'] .dark-only {
    display: block;
  }

  :root[data-theme='light'] .light-only {
    display: block;
  }
</style>
