---
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import type { RaceWeek } from '~/types';
import { TypeToIconMap } from '~/types/eventtype';

type Props = {
  raceWeek: RaceWeek;
};

const { raceWeek } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<table>
  <thead>
    <tr>
      <th scope="col">{t('list.table.type')}</th>
      <th scope="col">{t('list.table.datetime')}</th>
      <th scope="col" class="lap-column">{t('list.table.laps')}</th>
    </tr>
  </thead>
  <tbody>
    {
      raceWeek.events
        .sort((a, b) => a.startAt - b.startAt)
        .map((event) => (
          <tr>
            <td>
              <div class="type-cell">
                <Icon name={TypeToIconMap[event.type] ?? 'material-symbols:brightness-empty'} size={16} />
                {event.name.split(' - ')[0]}
              </div>
            </td>
            <td>
              <small class="timestamp-full" data-timestamp={event.startAt}>
                --:--
              </small>
            </td>
            <td>
              <small>{event.laps ?? '-'}</small>
            </td>
          </tr>
        ))
    }
  </tbody>
</table>

<style>
  @media screen and (max-width: 500px) {
    .lap-column {
      width: 0;
    }
  }

  .type-cell {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
</style>
