---
import '@picocss/pico/css/pico.blue.min.css';
import '@picocss/pico/css/pico.colors.min.css';
import Nav from '~/components/Nav.astro';
import type { Language } from '~/i18n/ui';

interface Props {
  title: string;
}

const { title } = Astro.props;

const params = Astro.params;
const lang = params.lang as Language;
---

<script>
  const header = document.querySelector('header');
  const main = document.querySelector('main');

  if (header && main) {
    const paddingTop = `${header.getBoundingClientRect()?.height}px`;
    main.style.paddingTop = paddingTop;
  }
</script>

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Race kalender" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>

  <body>
    <header class="sticky">
      <div class="container">
        <Nav />
      </div>
    </header>

    <main>
      <div class="container">
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  header {
    border-bottom: 4px solid var(--pico-table-border-color);
    top: -100%;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  header.sticky {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    background: var(--pico-background-color);
  }

  main > .container {
    margin-top: 2em;
  }

  @media screen and (width < 500px) {
    :root {
      font-size: 13px;
    }
  }

  :global(.strikethrough) {
    text-decoration: line-through;
  }
</style>
