---
import '@picocss/pico/css/pico.blue.min.css'
import '@picocss/pico/css/pico.colors.min.css'
import Nav from '~/components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Race kalender" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body >
		<header>
			<div class="container">
				<Nav />
			</div>
		</header>

		<main class="container">
			<slot />
		</main>
	</body>
</html>

<style>
:root {
	/* Pico overrides */
}

:root[data-theme="dark"] {
	header {
		background-color: var(--pico-color-slate-950);
	}
}

:root[data-theme="light"]  {
	header {
		background-color: var(--pico-color-slate-50);
	}
}
</style>
